ImageViewer/ImageViewer.Web/Connected Services/ImageServiceReference/Service41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.ImageViewer.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.ImageViewer.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ImageViewer/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.ImageViewer" />
  <xs:complexType name="ImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImageSizeBytes" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.ImageViewer" minOccurs="0" name="Size" type="q1:Constants.ImageSize" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageInfo" nillable="true" type="tns:ImageInfo" />
  <xs:complexType name="ArrayOfImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageInfo" nillable="true" type="tns:ImageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageInfo" nillable="true" type="tns:ArrayOfImageInfo" />
  <xs:complexType name="ImageProcessingFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageProcessingFault" nillable="true" type="tns:ImageProcessingFault" />
</xs:schema>