ImageViewer/ImageViewer.Web/Connected Services/ImageServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.ImageViewer.Contracts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.ImageViewer.Contracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.ImageViewer.Contracts/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ImageViewer/Service?xsd=xsd3" namespace="http://Microsoft.ServiceModel.ImageViewer.Contracts" />
      <xsd:import schemaLocation="http://localhost:8000/ImageViewer/Service?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/ImageViewer/Service?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.ImageViewer.Contracts.DataContracts" />
      <xsd:import schemaLocation="http://localhost:8000/ImageViewer/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.ImageViewer" />
      <xsd:import schemaLocation="http://localhost:8000/ImageViewer/Service?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageViewer_GetAllImages_InputMessage" />
  <wsdl:message name="FilesData">
    <wsdl:part name="parameters" element="tns:FilesData" />
  </wsdl:message>
  <wsdl:message name="IImageViewer_DownloadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadImage" />
  </wsdl:message>
  <wsdl:message name="IImageViewer_DownloadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadImageResponse" />
  </wsdl:message>
  <wsdl:message name="IImageViewer_DownloadImage_ImageProcessingFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.ImageViewer.Contracts.DataContracts" name="detail" element="q1:ImageProcessingFault" />
  </wsdl:message>
  <wsdl:message name="ImageData">
    <wsdl:part name="parameters" element="tns:ImageData" />
  </wsdl:message>
  <wsdl:message name="ImageData_Headers">
    <wsdl:part name="ImageInfo" element="tns:ImageInfo" />
  </wsdl:message>
  <wsdl:message name="IImageViewer_UploadImage_OutputMessage" />
  <wsdl:message name="IImageViewer_UploadImage_ImageProcessingFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.ImageViewer.Contracts.DataContracts" name="detail" element="q2:ImageProcessingFault" />
  </wsdl:message>
  <wsdl:portType name="IImageViewer">
    <wsdl:operation name="GetAllImages">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.ImageViewer.Contracts/IImageViewer/GetAllImages" message="tns:IImageViewer_GetAllImages_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.ImageViewer.Contracts/IImageViewer/GetAllImagesResponse" name="FilesData" message="tns:FilesData" />
    </wsdl:operation>
    <wsdl:operation name="DownloadImage">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.ImageViewer.Contracts/IImageViewer/DownloadImage" message="tns:IImageViewer_DownloadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.ImageViewer.Contracts/IImageViewer/DownloadImageResponse" message="tns:IImageViewer_DownloadImage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Microsoft.ServiceModel.ImageViewer.Contracts/IImageViewer/DownloadImageImageProcessingFaultFault" name="ImageProcessingFaultFault" message="tns:IImageViewer_DownloadImage_ImageProcessingFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.ImageViewer.Contracts/IImageViewer/UploadImage" name="ImageData" message="tns:ImageData" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.ImageViewer.Contracts/IImageViewer/UploadImageResponse" message="tns:IImageViewer_UploadImage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Microsoft.ServiceModel.ImageViewer.Contracts/IImageViewer/UploadImageImageProcessingFaultFault" name="ImageProcessingFaultFault" message="tns:IImageViewer_UploadImage_ImageProcessingFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>